aside {
  position: relative;
  width: clamp(28rem, 26.8907563025vw, 32rem);
  height: calc(100vh - 7rem);
  border-right: 1px solid var(--ColorGrayLv2);
  box-sizing: border-box;
  overflow: auto;
  z-index: 9;
  background-color: var(--ColorBackground);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    margin-top: 10rem;
    background-color: var(--ColorGrayLv3);
    width: 6px;
    border-radius: 6px;
    min-height: 50px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 5px;
    background-color: transparent;
  }

  .list-wrap > h3,
  .download-wrap > h3 {
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    height: 5rem;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
  }

  // .active-menu {
  //   background-color: var(--ColorGrayLv1);
  //   color: var(--ColorPrimary);
  //   font-weight: 700;
  // }
}

.aside-open-button {
  display: none;
}

.list-item {
  font-size: 1.6rem;
  line-height: 2.2rem;

  .tit-drawer-menu {
    display: flex;
    width: 100%;
    padding: 9px 9px 9px 60px;
    box-sizing: border-box;
    cursor: pointer;
  }

  summary {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    padding: 9px;
    cursor: pointer;
    gap: 8px;
    box-sizing: border-box;

    &:hover {
      background-color: var(--ColorActivation);
    }

    &::-webkit-details-marker {
      display: block;
    }

    &::before {
      content: url('../assets/icon/icon-chapter-lightmode-btn.svg');
      transition: 0.25s transform;
      transform: rotateZ(-90deg);
    }

    @media (prefers-color-scheme: dark) {
      &::before {
        content: url('../assets/icon/icon-chapter-darkmode-btn.svg');
        transition: 0.25s transform;
        transform: rotateZ(-90deg);
      }
    }
  }

  details[open] summary:before {
    transform: rotateZ(0deg);
  }
}

.subtit-drawer-menu > li {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.6rem;

  &:hover {
    background-color: var(--ColorActivation);
  }
  a {
    width: 100%;
    padding: 0.9rem;
    padding-left: 6rem;
  }
}

summary.hidden-before {
  padding: 0;
  font-weight: 400;

  &::before {
    display: none;
  }

  a {
    width: 100%;
    padding: 0.9rem;
    padding-left: 2.1rem;
  }
}

// -------- * pdf 다운로드 ---------
.download-wrap {
  width: 100%;
  margin-top: 4rem;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.9rem 2.1rem;

    box-sizing: border-box;

    &:hover {
      background-color: var(--ColorActivation);
    }

    &::after {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url(../assets/icon/icon-download.svg);
      background-size: contain;
    }
  }

  button {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--ColorSurface);
  }
}

.dim {
  display: none;
}
@media screen and (max-width: 1024px) {
  aside {
    position: absolute;
    top: 0;
    height: 100vh;
    margin-left: -32rem;
    transition: margin-left 0.3s;
    z-index: 999;

    .aside-folder-button {
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      background-image: url('../assets/icon/icon-side-close-left.svg');
      top: 1.3rem;
      right: 1.5rem;
    }
  }
  .dim {
    display: block;
  }

  .aside-open {
    margin-left: 0;
    transition: margin-left 0.3s;
  }

  .aside-open-button {
    display: block;
    position: absolute;
    background-image: url(../assets/icon/icon-chapter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.4rem 2.4rem;
    width: 4.2rem;
    height: 4.2rem;
    background-color: var(--ColorBackground);
    border: 1px solid var(--ColorGrayLv2);
    border-radius: 0.625em;
    left: 2rem;
    margin-top: 1.4rem;
    z-index: 990;
  }
}

.dim {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  animation: fadeIn 0.2s;
}
