aside {
  width: 32rem;
  height: calc(100vh - 7rem);
  left: 0;
  border-right: 1px solid var(--ColorGrayLv2);
  box-sizing: border-box;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    margin-top: 10rem;
    background-color: var(--ColorGrayLv3);
    width: 6px;
    border-radius: 6px;
    min-height: 50px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 5px;
    background-color: transparent;
  }

  .list-wrap > h3 {
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    height: 5rem;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
  }

  .active-menu {
    background-color: var(--ColorGrayLv1);
    color: var(--ColorPrimary);
    font-weight: 700;
  }
}

.list-item {
  font-size: 1.6rem;
  line-height: 2.2rem;

  .tit-drawer-menu {
    display: flex;
    width: 100%;
    padding: 9px 9px 9px 60px;
    box-sizing: border-box;
    cursor: pointer;
  }

  summary {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    padding: 9px;
    cursor: pointer;
    gap: 8px;
    box-sizing: border-box;

    &:hover {
      background-color: var(--ColorActivation);
    }

    &::-webkit-details-marker {
      display: block;
    }

    &::before {
      content: url('../assets/icon/icon-chapter-btn.svg');
      transition: 0.25s transform;
      transform: rotateZ(-90deg);
    }
  }

  details[open] summary:before {
    transform: rotateZ(0deg);
  }
}

.subtit-drawer-menu > li {
  display: flex;
  width: 100%;
  padding: 9px 9px 9px 60px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.6rem;

  &:hover {
    background-color: var(--ColorActivation);
  }

  a {
    width: 100%;
  }
}

.hidden-before {
  &::before {
    display: none;
  }

  a {
    margin-left: 1.2rem;
  }
}
