.tutorial-content-wrap {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 7rem);
}

.tutorial-content {
  width: 100%;
  background-color: var(--ColorBackground);
  overflow-y: scroll;
  padding: 0 clamp(2.4rem, 7.55208333333vw, 14.5rem)
    clamp(3.2rem, 5.2083333333vw, 10rem) clamp(2.4rem, 7.55208333333vw, 14.5rem);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ColorGrayLv3);
    width: 6px;
    border-radius: 6px;
    min-height: 50px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 5px;
  }

  article {
    width: 100%;
  }

  p {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  strong {
    font-weight: 700;
  }

  pre {
    display: flex;
    background-color: var(--ColorGrayLv1);
    padding: 3.2rem 6rem 3.2rem 3.2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 0.9rem 0;
    white-space: pre-line;

    code {
      color: var(--ColorSurface);
      background-color: transparent;
    }
  }

  code {
    padding: 0.1rem 0.3em;
    border-radius: 0.2em;
    background-color: var(--ColorActivation);
    color: var(--ColorPrimary);
    font-weight: 500;
  }

  figcaption {
    text-align: center;
    margin: 1.8rem 0;
  }

  table {
    width: auto;
    margin: 2rem 0;

    tbody > tr > th {
      font-weight: 500;
      background-color: var(--ColorGrayLv1);
    }

    tbody > tr > td {
      padding: 10px 16px;
    }

    tbody > tr > td:first-child {
      font-weight: 500;
      background-color: var(--ColorGrayLv1);
    }
  }
}

@media screen and (max-width: 1024px) {
  .tutorial-content {
    padding: clamp(3.2rem, 5.2083333333vw, 10rem)
      clamp(2.4rem, 7.55208333333vw, 14.5rem);
  }
}

h2.tuto-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.7rem;
  border-bottom: 2px solid var(--ColorGrayLv2);
  padding-bottom: clamp(1.6rem, 1.04166666667vw, 20rem);
  margin-top: clamp(3.2rem, 5.2083333333vw, 10rem);
  margin-bottom: clamp(2rem, 1.5625vw, 3.2rem);
}

h3.tuto-sec-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-top: clamp(2rem, 1.5625vw, 3.2rem);
  margin-bottom: clamp(2rem, 1.5625vw, 3.2rem);
}

h4.tuto-sec-subtitle {
  font-weight: 700;
  font-size: 2.4rem;
  font-weight: 2.8rem;
}

.tuto-list {
  margin-bottom: 1.8rem;
}

.tuto-unordered-list-item {
  list-style: disc;
  list-style-position: inside;
  line-height: 2.7rem;
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--ColorGrayLv2);
  border-radius: 4.8rem;
  right: 3.2rem;
  bottom: 3.2rem;
  background: var(--ColorBackground);

  &::before {
    display: block;
    content: url('../assets/icon/icon-up-arrow.svg');
    width: 2.4rem;
    height: 2.4rem;
  }
}
